* {
	margin:0;
	padding:0;
	font-family: 'Open Sans', sans-serif;
}

body {
	display:flex;
	flex-direction:column;
	justify-content: center;
	align-items: center;
	background-color:#404040;
}

.circle {
	margin-top:10px;
	display:inline-block;
	border-radius: 50%;
	color:#FFF;
	height:50px;
	width:50px;
	border:1px solid white;
}

.row1 {
	text-align: center;
}

 h3 {

 	font-weight:300;
 	color:#FFF;
 	text-align: center;
 }

 p {
 	font-size:15px;
 	color:#FFF;
 	text-align:center;
 }

 #play1 {

 	display:inline-block;
 	background-color:transparent;
 	margin-top:10px;
 	text-align:center;
 	padding:1px;
 	width:70px;
 	border:1px solid #ff4444;
 	font-weight:300;
 	color:#FFF;
 }

 #play2 {
 	display:inline-block;
 	background-color:transparent;
 	margin-top:10px;
 	padding:1px;
 	border:1px solid #ffff66;
 	text-align:center;
 	width:70px;
 	font-weight:300;
 	color:#FFF;
 }

 .fearSlaya {
 	width:190px;
 	height:40px;
 	text-align: center;
 }

 #fix {

 	background-color: transparent;
 	border:1px solid #fff;
 	text-align:center;
 	width:70px;
 	font-weight:300;
 	color:#FFF;

 } 

 a {
 	color:#FFF;
 	text-decoration: underline;
 }

 a:hover {
 	color:#afeeee
 }